@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ada386;
    --white-color: #f5f5f5;
    --font-josefin-slab: "Josefin Slab", serif;
    --font-josefin-sans: "Josefin Sans", sans-serif;
    --font-roboto: "Roboto", serif;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body {
    font-size: 14px;
    font-family: var(--font-roboto);
}

.coming-soon-wrapper {
    position: relative;
    overflow: hidden;

    .slider-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100vh;

        img {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            object-position: top center;

            @media screen and (max-width: 600px) {
                object-position: right center;
            }
        }
    }

    .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 1000;
        top: 0;
        bottom: 0;
        left: 5%;
        width: 250px;

        transform: translate(-5%, 0);

        @media screen and (max-width: 600px) {
            left: 50%;
            transform: translate(-50%, 0);
        }

        .logo-wrapper {
            width: 280px;
            height: 280px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .intro-text {
            text-align: center;
            display: flex;
            gap: 15px;
            line-height: 1.4rem;
            flex-direction: column;
            justify-content: space-between;
            color: var(--primary-color);
            padding: 10px;
            font-family: var(--font-josefin-sans);

            h2 {
                text-transform: uppercase;
                font-weight: 600;
            }

            .description {

                span {
                    &:nth-child(2) {
                        display: block;
                    }
                }
            }

            .subscribe-form {

                .coolinput {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                }

                .coolinput label.text {
                    display: none;
                    font-size: 0.75rem;
                    color: var(--white-color);
                    font-weight: 700;
                    position: absolute;
                    top: -7px;
                    margin: 0 0 0 7px;
                    padding: 1px 4px;
                    background: var(--primary-color);
                }

                .coolinput input[type=text].input {
                    padding: 15px;
                    font-size: 0.75rem;
                    border: none;
                    border-bottom: 2px var(--primary-color) solid;
                    color: var(--primary-color);
                    background: transparent;
                }

                .coolinput input[type=text].input:focus {
                    outline: none;
                }

                .coolinput input[type=text].input::placeholder {
                    color: var(--primary-color);
                    font-family: var(--font-josefin-slab);
                    font-style: italic;
                }

                .btn-submit {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0%, -50%);
                    outline: none;
                    background: transparent;
                    border: 0;
                    padding: 0 18px;
                    cursor: pointer;
                    color: var(--primary-color);
                }
            }

            p {
                font-weight: 400;
            }

            .socials {
                margin-top: 10px;

                a {
                    color: var(--primary-color);
                }
            }
        }
    }
}